@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,700i&display=swap&subset=cyrillic');
@media (max-width: 370px) {
    #logo{
    display: none;
    }
}
@media (max-width: 768px) {
    body{
        font-size: 12px;
    }
    .header-box{
        position: fixed;
        z-index: 99;
        padding: 10px 0;
        float: none;
    }
    .navigation{
        overflow-x: visible;
        padding-right: 15px;
        padding-left: 15px;
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .search{
        position: fixed;
        top: 2px;
        right: 20px;
        min-height: 60px;
        z-index: 99999;
        border-right: 0;
    }
    #logo{
        width:57px;
        height:40px;
    }
    .logo{
        margin: 0;
        padding: 0 7px;
    }
    .nav-name{
        font-size: 16px;
        line-height: 1.2;
    }
    .card{
        padding: 25px !important;
    }
    .resp-content{
        margin: 0 0 10px;
    }
    .partners, .new, .projects, .forms, .archive{
        padding: 40px 0 60px;
    }
    .part{
        width: 165px !important;
    }
    .name{
        font-size: 16px;
    }
    .video-content{
        font-size: 18px;
    }
    #slider{
        max-width: 94%;
        margin: 0 auto;
    }
    .states{
        padding: 40px 0 60px;
    }
    .st-link{
        clear: both;
        padding-top: 20px;
    }
    .arch-card{
        height: 340px;
        padding: 25px 20px;
    }
    .company{
        float: left;
    }
}
@media (min-width: 768px) {
    body{
        font-size: 20px;
    }
    .navb{
        min-height: 79px;
    }
    .header-box{
        padding: 15px 0;
        position: relative;
        z-index: 100;
        float: left;
    }
    #navbar{
        border-top: 1px solid #E5E5E5;
        border-bottom: 1px solid #E5E5E5;
        min-height: 60px;
        top: 0;
        position: sticky;
    }
    .navigation{
      
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
        border-top: 0;
        box-shadow: none;
    }
    .nav{
        width: auto;
        float: left;
        margin: 0;
    }
    .nav-item{
        padding: 0 15px;
        line-height: 60px;
    }
    .search{
        border-right: 1px solid #E5E5E5;
        position: relative;
        height: 60px;
        top: auto;
        right: auto;
    }
    .nav-name{
        font-size: 18px;
        line-height: 3;
    }
    .video-content, .header, .resp, .partner, .new1, .proj .container, .state, .form-box, .header, .foot{
        width: 750px;
        padding-left: 0;
        padding-right: 0;
    }
    .video-text{
        font-size: 20px;
    }
    #logo{
        width:67px;
        height:47px;
    }
    .logo{
        margin: 0 10px 0 0;
        padding: 0 15px;
    }
    .header-box{
        padding: 15px 0;
        position: relative;
        z-index: 5;
    }
    .sh-content{
        padding: 140px 0 0 20px;
    }
    .sh-title{
        max-width: 100%;
        padding-right: 10px;
        font-size: 18px;
    }
    .image1{
        width: 70%;
    }
    .pr{
        float: left;
    }
    .response, .partners, .new, .projects, .shadow, .states, .archive, .forms{
        padding: 80px 0 120px;
    }
    .card{
        height: 300px;
        padding: 20px;
    }
    .st-1{
        float: left;
    }
    .st-block{
        height: 90%;
    }
    .f-title{
        margin-top: 100px;
    }
    .f-link{
        margin-left: 30px;
        padding-left: 20px;
        margin-top: 10px;
    }
    .footer{
        border-top: 1px solid #E5E5E5;
    }
    .protect{
        text-align: right;
        margin-top: 0;
        width: 50%;
    }
}
@media (min-width: 992px) {
 .navb{
     min-height: 110px;
 }
.nav-item{
    padding: 0 20px;
}
.header, .video-content, .resp, .partner, .new1, .proj .container, .state, .form-box, .header, .foot{
    width: 970px;
}
.video-text{
    width: 800px;
}
.bttn{
    padding: 10px 25px;
}
.sh-content{
    padding: 150px 0 0 40px;
}
.image1{
    width: auto;
}
.sh-title{
    max-width: 75%;
    padding-right: 0;
}
.pr{
    padding: 0 10px;
}
.st-text{
    width: 25%;
    float: left;
    padding-right: 50px;
}
.st{
    width: 75%;
    margin: -100px -10px 0;
    float: right;
}
.st-link{
    clear: none;
    padding-top: 0;
}
.card{
    height: 290px;
    padding: 30px;
}
.st-block{
    height: 95%;
}
.arch-card{
    height: 440px;
    padding: 20px 10px;
}
.for{
    padding: 0 10px;
}
}
@media (min-width: 1200px){
.header, .video-content, .resp, .partner, .new1, .proj .container, .state, .form-box, .header, .foot{
    width: 1170px;
}
.nav-item{
    padding: 0 30px;
}
.sh-title{
    font-size: 22px;
}
.card{
    height: 260px;
    padding: 40px 30px;
}
.st-block{
    height: 70%;
}
.arch-card{
    height: 440px;
    padding:30px 10px;
}
}
    html{
    -webkit-tap-highlight-color: transparent;
    }
    body{
        font-family: 'Open Sans',sans-serif;
        background-size: cover;
        color: #68676c;
        font-size: 14px;
        line-height: 1.42857;
    }
    .navb{
        background-color: #f8f8f8;
        border-color: #e7e7e7;
        min-height: 79px;
        background-color: transparent;
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
        position: relative;
        width: 100%;
    }
    .header-box{
        float: none;
        background-color: #f5f6f8;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .nav-name{
        height: 50px;
        text-decoration: none;
        padding: 0;
    }
    .name, .header-info, .header-menu, .button, .resp-content{
        float: left;
    }
    .navigation{
        border-left: 1px solid #E5E5E5;
        border-right: 1px solid #E5E5E5;
    }
    #navbar{ 
        clear: both;
        width: 100%;
        background-color: #ffffff;
        top: 70px;
        left: 0;
        right: 0;
        z-index: 9998;
        position: block;
    }
    .nav{
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
        margin: 7.5px -15px;
    }
    .nav-item{
        text-transform: uppercase;
        color: #000000;
        padding: 0 30px;
        line-height: 40px;
        font-size: 12px;
        background-color: transparent;
        position: relative;
        display: block;
    }
    .search-box{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        background-color: transparent;
        transition: all 0.3s;
        cursor: pointer;
        clip: auto;
    }
    .fa-search{
        content: '\e003';
        font-family: 'Glyphicons Halflings';
        display: block;
        font-size: 16px;
        color: #24aa17;
        text-align: center;
        line-height: 60px;
    }
    ul{
        padding-left: 40px;
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
    ul, ol{
        padding-left: 1.5em;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .header-menu{
        padding-left: 15px;
        padding-right: 15px;
    }
    .header-title,.number a,.site a,i, .resp-link, a:link, a{
        color: #24aa17;
    }
    .bttn{
        display: inline-block;
        margin-bottom: 0;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 10px 15px;
        line-height: 1.42857;
        text-transform: lowercase;
        font-weight: 600;
        font-size: 18px;
        background-color: #24aa17;
        color: #ffffff;
        transition: all 0.3s;
    }
    main{ 
        vertical-align:center;
    }
    .video-box{ 
        position: relative;
        height: 750px;
        width: auto;
        align-items: center;
        overflow: hidden;
        z-index: -1;
        border-color: #e7e7e7;
    }
    .video{
       position: absolute;
        top:0;
        left:50%;
        height: 750px;
        width: auto;
        transform: translateX(-50%);
    }
    .video-content{
        color:#fff;
        position: absolute;
        top:150px;
        right: 0;
        left:0;
        text-align: center;
        max-width:970px;
        margin: auto;
        z-index: 2;
        align-content: center;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .video-content,.header, .resp, .partner, .new1, .proj, .container, .state, .form-box, .header, .foot{
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .video-text{
        margin: 20px auto 40px;
    }
    h1, .h1, h2, .h2, h3, .h3 {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .shadow{
        margin-top:-60px;
        padding: 0 0 40px;
    }
    .sh{
        padding: 15px;
    }
    .sh-content{
        background-color: #ffffff;
        box-shadow: 0 10px 50px rgba(0,0,0,0.15);
        height: 240px;
        position: relative;
        overflow: hidden;
        padding: 150px 0 0 40px;
    }
    .image1{
        position: absolute;
        border-radius: 0px 0px 0px 180px;
        top:-10%;
        right: 0;
    }
    .image2{
        position: absolute;
        top:25%;
    }
    .sh-title a{
        max-width: 75%;
        color: #000000;
        text-decoration: none;
        border-bottom: 1px solid #24aa17;
        font-weight: 900;
        font-size: 22px;
    }
    .proj-content{
        margin: 0 -10px 0;
    }
    .pr-info{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;
        line-height: 17px;
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 100%;
        padding: 0 20px;
    }
    .likes{
        display:flex;
        flex-flow: row nowrap;
    }
    .pr{
        padding: 10px;
        position: relative;
        max-width: 300px;
        float: none;
        margin: auto;
    }
    .pr-card{
        position: relative;
        width: 100%;
    }
    .img-r{
        width: 100%;
        height: auto;
        vertical-align: middle;
    }
    .pr-block{
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7) 80%);
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 40px 20px 40px;
        
        width: 100%;
        color: #ffffff;
    }
    .pr-title1 a{
        color: #ffffff;
        font-size: 14px;
        font-weight: 900;
        text-transform: uppercase;
    }
    .new{
        background: url(img/adv-bg.png) no-repeat center center/contain;
    }
    
    .new .title1, .new .text1{
        padding-left: 70px;
    }
    .title1{
        font-weight: 600;
        font-size: 17px;
        color: #000000;
    }
    .brands-logo{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
    }
    .part{
        vertical-align: middle;
        width: 292.5px;
    }
    .response{
        background: url(img/review-bg.jpg) no-repeat center center/cover;
        padding: 40px 0 60px;
    }
    .resp-title, .part-title, .arch-title{
        margin:20px 0 40px;
        display: flex;
        justify-content: space-between;
        color: #000000;
        font-weight: 900;
        font-size: 30px;
    }
    .card{
        background: url(img/review-i-bg.png) no-repeat center center #ffffff; 
        padding: 40px 30px;
        max-width: 400px;
        height: 260px;
    }
    .brand-name{
        height: 70px;
    }
    .resp-content{
        clear: both;
        padding: 20px 0 0;
        margin: 0 0 10px;
        height: 101px;
        overflow: hidden;
    }
    .resp-link{
        padding-top: 8px;
    }
    .img-responsive{
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }
    .slick-next:before, .slick-prev:before{
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 70%;
        color: #fff;
        background: #1a7d11;
        transition: all 0.3s ease-in;
        cursor: pointer;
    }
    .slick-next:before:hover, .slick-prev:before:hover{
        background: #fff;
        color: #1a7d11;
    }
    .links a{
        text-decoration: underline;
        text-transform: uppercase;
        color: #24aa17;
        font-weight: 600;
        font-size: 15px;
    }
    .states{
        background: url(img/artic-bg.png) no-repeat center top;
    }
    .st-title{
        margin: 50px 0 20px;
    }
    .st-content{
        position: relative;
    }
    .st-card{
        position: relative;
        width: 100%;
    }
    .st-1{
        padding: 10px;
        max-width: 300px;
        margin: auto;
        float: none;
    }
    .st-2{
        width: auto;
        float: none;
    }
    .st-text{
        margin-bottom: 20px;
    }
    .st-block{
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7) 30%);
        width: 100%;
        height: 70%;
        padding: 40px 15px 30px;
        margin-left: 0;
    }
    .st-info, .pr-info{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;
        line-height: 17px;
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 100%;
        padding: 0 20px;
        color: #ffffff;
    }
    .proj i, .proj span, .proj .date, .st-card i, .st-card span, .st-card .date{
        color: #ffffff;
    }
    .st-title1{
        margin-bottom: 7px;
    }
    .st-title1 a{
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 900;
        color: #ffffff;
    }
    .st-text1 p{
        font-weight: 400;
        font-size: 13px;
        line-height: 1.2;
        color: #ffffff;
    }
    .archive{
        background: url(img/news-bg.jpg) no-repeat center center/cover;
    }
    .arch-box{
        position: relative;
        margin-bottom: 0;
    }
    .arch-title{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .arch{
        margin:0 -10px;
    }
    .arch-card{
        position: relative;
        background-color: #ffffff;
        width: 100%;
    }
    .arch-card .date{
        text-transform: lowercase;
        font-size: 18px;
        line-height: 1;
        margin-bottom: 5px;
    }
    .arch-card .date span{
        color: #87d07f;
        font-size: 62px;
        font-weight: 900;
    }
    .arch-card .title1{
        margin-bottom:15px;
    }
    .arch-card .title1 a{
        color: #000000;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.4;
    }
    .button1{
        display: inline-block;
        padding: 8px 25px;
        text-transform: lowercase;
        font-weight: 600;
        font-size: 15px;
        background-color: #e4e5e9;
        color: #a7a7ac;
        border-radius: 0;
        transition: all 0.3s;
        border: 0;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
    }
    .archive .button1{
        position: absolute;
        bottom: 35px;
    }
    .for{
        padding: 10px;
    }
    .f-text{
        line-height: 1.6;
        margin-bottom: 40px;
        padding-right: 30px;
    }
    .f-img{
        background: url(img/articles-bg.jpg) no-repeat center center/contain;
        height: 410px;
        display: block;
    }
    .footer{
        padding-top: 25px;
        padding-bottom: 26px;
        border-top: 1px solid #E5E5E5;
        background-color: #f5f6f8;
        border-top: 0;
        width: 100%;
    }
    #footer{
        background-color: #f5f6f8;
    }
    .foot{
        position: relative;
    }
    .foot-text{
        display: block;
        margin-bottom: 3px;
    }
    .company{
        width: 50%;
        padding: 0;
    }
    .soc .fa{
        width: 28px;
        height: 28px;
        display: inline-block;
        margin-right: 7px;
        background-color: #d4d5d7;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
    }
    .soc .insta{
        content: '\f16d';
    }
    .soc .vk{
        content: '\f189';
    }
    .soc .youtube{
        content: '\f16a';
    }
     h1{
        color:#fff;
        font-size: 40px;
        font-weight: 900;
    }
    h2{
        color: #000000;
        font-weight: 900 !important;
        font-size: 30px;
    }
    .proj-title h2{
        margin-bottom: 0;
    }
    .f-title{
        margin: 100px 0 40px;
    }
    .new-title{
        margin-bottom:60px !important;
    }
    .st-link a, .respLink a, .respLink1 a, .parts-link a, .pr-link a, .f-link a, .arch-link a{
        padding-left:10px;
    }
   .product {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        background-color: rgb(169, 230, 230);
    }
    .product:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }