@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,700i&display=swap&subset=cyrillic');
@media (max-width: 370px) {
    #logo{
    display: none;
    }
}
@media (max-width: 768px) {
    body{
        font-size: 12px;
    }
    #logo{
        width:57px;
        height:40px;
    }
    .card{
        padding: 25px !important;
    }
    .resp-content{
        margin: 0 0 10px;
    }
    .partners, .new, .projects{
        padding: 40px 0 60px;
    }
    .part{
        width: 165px !important;
    }
    .name{
        font-size: 16px;
    }
    .video-content{
        font-size: 18px;
    }
    #slider{
        max-width: 94%;
        margin: 0 auto;
    }
}
@media (min-width: 768px) {
    body{
        font-size: 20px;
    }
    h1{
        font-size: 40px;
    }
    .name{
        font-size: 18px;
    }
    .video-content, .header, .resp, .partner, .new1, .proj{
        width: 750px;
        padding-left: 0;
        padding-right: 0;
    }
    .video-text{
        font-size: 20px;
    }
    #logo{
        width:67px;
        height:47px;
        margin: 0 10px 0 0;
        padding: 0 15px;
    }
    .header-box{
        padding: 15px 0;
        position: relative;
        z-index: 5;
    }
    .image2{
        left: 20%;
    }
    .sh-title{
        padding-left: 20%;
    }
    .response, .partners, .new, .projects{
        padding: 80px 0 120px;
    }
    .card{
        height: 300px;
        padding: 20px;
    }
}
@media (min-width: 992px) {
.header, .video-content, .resp, .partner, .new1, .proj{
    width: 970px;
}
.video-text{
    width: 800px;
}
.bttn{
    padding: 10px 25px;
}
.image2{
    left: 40%;
}
.sh-title{
    padding-left: 40%;
}
.card{
    height: 290px;
    padding: 30px;
}
}
@media (min-width: 1200px){
.header, .video-content, .resp, .partner, .new1, .proj{
    width: 1170px;
}
.card{
    height: 260px;
    padding: 40px 30px;
}
}
    body{
        font-family: 'Open Sans',sans-serif;
        background-size: cover;
        color: #68676c;
        font-size: 14px;
        line-height: 1.42857;
    }
    header{
        width:100%;
        border-color: #e7e7e7;
    }
    .header-box{
        float: none;
        background-color: #f5f6f8;
        top: 0;
        left: 0;
        right: 0;
    }
    .name, .header-info, .header-menu, .button, .resp-content{
        float: left;
    }
    #navbar{
        clear: both;
        border-color: #e7e7e7;
    }
    .header-menu{
        padding-left: 15px;
        padding-right: 15px;
    }
    .header-title,.number a,.site a,i, .resp-link, a:link, a{
        color: #24aa17;
    }
    .bttn{
        display: inline-block;
        margin-bottom: 0;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 10px 15px;
        line-height: 1.42857;
        text-transform: lowercase;
        font-weight: 600;
        font-size: 18px;
        background-color: #24aa17;
        color: #ffffff;
        transition: all 0.3s;
    }
    main{ 
        vertical-align:center;
    }
    .video-box{ 
        position: relative;
        height: 750px;
        width: auto;
        align-items: center;
        overflow: hidden;
        z-index: -1;
        border-color: #e7e7e7;
    }
    .video{
       position: absolute;
        top:0;
        left:50%;
        height: 750px;
        width: auto;
        transform: translateX(-50%);
    }
    .video-content{
        color:#fff;
        position: absolute;
        top:150px;
        right: 0;
        left:0;
        text-align: center;
        max-width:970px;
        margin: auto;
        z-index: 2;
        align-content: center;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .video-content,.header, .resp, .partner, .new1, .proj{
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .video-text{
        margin: 20px auto 40px;
    }
    h1, .h1, h2, .h2, h3, .h3 {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .shadow{
        margin-top:-60px;
        padding: 0 0 40px;
    }
    .sh{
        position: relative;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        background-color: transparent;
    }
    .image1{
        position: absolute;
        border-radius: 0 0 0 100%;
        top:-10%;
        right: 0;
    }
    .image2{
        position: absolute;
        top:25%;
        left: 40%;
    }
    .sh-title{
        padding-left: 40%;
        max-width: 60%;
    }
    .pr-info{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;
        line-height: 17px;
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 100%;
        padding: 0 20px;
    }
    .likes{
        display:flex;
        flex-flow: row nowrap;
    }
    .pr{
        margin: auto;
        max-width: 280px;
    }
    .pro{
        position: relative;
    }
    .img-r{
        width: 100%;
        height: auto;
        vertical-align: middle;
    }
    .pr-block{
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7) 80%);
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 40px 20px 40px;
        margin: 0px 15px 0px;
        width: 100%;
        color: #ffffff;
    }
    .pr-block a{
        color: #ffffff;
        font-size: 14px;
        font-weight: 900;
        text-transform: uppercase;
    }
    .proj i, .proj span, .proj .date{
        color: #ffffff;
    }
    .new{
        background: url(img/adv-bg.png) no-repeat center center/contain;
    }
    .new-title{
        margin-bottom:25px;
    }
    .title1, .text1{
        padding-left: 70px;
    }
    .title1{
        font-weight: 600;
        font-size: 17px;
        color: #000000;
    }
    .brands-logo{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
    }
    .part{
        vertical-align: middle;
        width: 292.5px;
    }
    .response{
        background: url(img/review-bg.jpg) no-repeat center center/cover;
        padding: 40px 0 60px;
    }
    .resp-title, .part-title{
        margin:20px 0 40px;
        display: flex;
        justify-content: space-between;
        color: #000000;
        font-weight: 900;
        font-size: 30px;
    }
    .card{
        background: url(img/review-i-bg.png) no-repeat center center #ffffff; 
        padding: 40px 30px;
        max-width: 400px;
        height: 260px;
    }
    .brand-name{
        height: 70px;
    }
    .resp-content{
        clear: both;
        padding: 20px 0 0;
        margin: 0 0 10px;
        height: 101px;
        overflow: hidden;
    }
    .resp-link{
        padding-top: 8px;
    }
    .img-responsive{
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }
    .container{
        position: relative;
    }
    .slick-next:before, .slick-prev:before{
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 70%;
        color: #fff;
        background: #1a7d11;
        transition: all 0.3s ease-in;
        cursor: pointer;
    }
    .slick-next:before:hover, .slick-prev:before:hover{
        background: #fff;
        color: #1a7d11;
    }
    .links{
        text-decoration: underline;
        text-transform: uppercase;
        color: #24aa17;
        font-weight: 600;
        font-size: 15px;
    }
     h1{
        color:#fff;
        font-size: 40px;
        font-weight: 900;
    }
    h2{
        color: #000000;
        font-weight: 900;
        font-size: 30px;
    }
   .product {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        background-color: rgb(169, 230, 230);
    }
    .product:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }